.form-container  {
    width: 90%;
    text-align: center;
    margin: 1em auto;
}

form {
    display: grid;
    place-content: center;
}

input {
    margin: 0.5em 0;
    padding: 1em 2em;
    background-color: initial;
    border: none;
    border-bottom: 2px solid var(--seashell);
}

input, input::placeholder {
    font-weight: 700;
    font-size: 1rem;
    font-family: inherit;
    color: var(--seashell);
}

input:focus {
    border-bottom: 2px solid var(--imperial-red);
    outline: none;
}

.submit {
    margin: 1em 0;
    padding: 0.5em 0 1.5em;
}

.submit button{
    background-color: var(--imperial-red);
    border: none;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--tangerine);
    padding: 1em 2em;
    width: 60%;
}

@media (min-width: 768px){

    .form-container {
        max-width: 468px;
    }

    form {
        place-content: normal;
    }

    .submit {
        text-align: left;
    }

    .submit button {
        min-width: 15vw;
        max-width: 18vw;
    }
}