.thankyou {
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 0.5em 0 0;
}

.thankyou h1 {
    font-size: 2.35rem;
    font-weight: 700;
}

.thankyou h2 {
    font-size: 1.25rem;
}

@media (min-width: 425px) {
    .thankyou {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .thankyou {
        max-width: 468px;
    }
}